# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Packaging & Distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Local cache & virtualenvs
.cache/
.pytest_cache/
.venv
venv/
env/
*.log
